	      *{
				margin: 0;
				padding: 0;
			}
			#kuang{
				width: 1350px;
				height: 760px;
				position: absolute;
				z-index: 890;
				overflow: hidden;
			}
			#jiantou{
				width: 200px;
				height: 200px;
				background-image: url(../img/平台/箭头.png);
				background-size: 100% 100%;
				position: absolute;
				z-index: 999;
				left: 618px;
				top: 318px;
			  opacity: 0.8;
			}
			#zuo_1{
				width: 675px;
				height: 760px;
				background-image:url(../img/平台/30001851.jpg);
				background-size: 100% 100%;
				position: absolute;
				z-index: 990;
			}
			#you_1{
				width: 675px;
				height: 760px;
				background-image:url(../img/平台/30001852.jpg);
				background-size: 100% 100%;
				position: absolute;
				left: 675px;
				z-index: 990;
			}
			#zhiwen{
				width: 50px;
				height: 50px;
				background-image: url(../img/平台/指纹.jpg);
				background-size: 100% 100%;
				border-radius: 25px;
				position: absolute;
				left: 650px;
				top: 310px;
				z-index: 999;
			}
			#fangzi{
				width: 1350px;
				height: 760px;
				background-image: url(../img/平台/jiaju8.jpg);
				background-size: 100% 100%;
				position: absolute;
				z-index: 888;
			}
			#shang {
				width:1350px;
				height: 60px;
				background-color: #000000;
				margin: 0 auto;	
			}
			#logo{
				width: 50px;
				height: 60px;
				text-align: center;
				margin-left: 20px;
				float: left;
				margin-top: 10px;
			}
			#shang_zhong{
				  width: 500px;
				  height: 60px;
				  position: relative;
			     left: 300px;
			     float: left;		 
			}
			#shang_zhong a {
				display: block;
				text-decoration: none;
				text-align: center;
				line-height: 60px;
				width: auto;
			    padding: 0 25PX 0 25PX;
				height: 60px;
				float: left;
				color: white;
			}
			#shang_zhong a:hover{
				background-color: #333;
			}
			#shang_you{
				width: 200px;
				height: 60px;
				position:relative;
				float: right;
			}
			#shang_you a{
				display: block;
				width: 80px;
				height: 60px;
				text-align: center;
				line-height: 60px;
				text-decoration: none;
				float: right;
				color:white;
				position:relative;
				right: 50px;				
			}
			#shang_you a:hover{
				opacity: 0.8;
			}
			#box{
				width: 1350px;
				height: 700px;
				background-image: url(../img/平台/9341008273.jpg);
				background-size: 100% 100%;
				position: absolute;
				z-index: 0;
			}
			.bbb{
				width: 300px;
				height: 200px;
			}
			#box_1{
				width: 0px;
				height: 0px;
			    background-image: url(../img/平台/1.jpg);
			    background-size: 100% 100%;
				position: absolute;
				float: left;
				top: 350px;
				left: 680px;
				border-radius:100px;
				overflow: hidden;					
				}
				
			#box_2{
				width: 0px;
				height:0px;
				background-image:url(../img/平台/2.jpg);
				background-size: 100% 100%;
			    position: absolute;
			    float: left;
			    top: 350px;
				left:680px;
				border-radius: 100px;
				overflow: hidden;	
				}
			#box_3{
				width: 0px;
				height:0px;
				background-image:url(../img/平台/3.jpg);
				background-size: 100% 100%;
			    position: absolute;
			    float: left;
			    top: 350px;
				left:680px;
				border-radius: 100px;
				overflow: hidden;	
				}
			#box_4{
				width: 0px;
				height:0px;
				background-image:url(../img/平台/5.jpg);
				background-size: 100% 100%;
			    position: absolute;
			    float: left;
			    top: 350px;
				left:680px;
				border-radius: 100px;
				overflow: hidden;	
				}
			#box_5{
				width: 300px;
				height:300px;
				background-image:url(../img/平台/6.jpg);
				background-size: 100% 100%;
			    position: absolute;
			    float: left;
			    top: 200px;
				left:520px;
				border-radius: 150px;
				overflow: hidden;
				display: none;	
				}
			#box1{
				width: 1350px;
				height: 700px;			
				overflow: hidden;				
				background-size: 100% 100%;
				box-shadow: 10px 10px 10px white;
				display: none;
				}
		    #box1_1{
		    	width: 400px;
		    	height: 300px;
		    	background-color: blanchedalmond;
		    	border:  black 5px solid;
		    	margin-left: 50px;
		    	margin-top: 50px;
		    	float: left;
		    
		    }
			#box1_2{
				width: 600px;
				height: 300px;	
				margin-left: 100px;
				margin-top: 100px;
				float: left;
				color: white;				
			}
			#box1_2 p{
				text-indent: 2em;
			}
			#box1_3{
				width:180px;
				height: 200px;
				margin-left: 275px;
				margin-top: 20px;
				float: left;
			
				box-shadow: 5px 5px 5px gray;
				
			}
         #box1_3 hr{
         	margin-top: 10px;
         }
			#box1_3_1{
				width: 100px;
				height: 100px;
				border-radius: 50px;
				margin: 0 auto;
				background-image:url(../img/平台/20170605040839425.png);
				background-size: 100% 100%;
				transform: rotate(0deg);
				transition: all 3s;	
			}
			#box1_3_2{
				width: 100px;
				height: 50px;
				margin: 0 auto;
				margin-top:20px;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				color: white;
				transform: rotate(0deg);
				transition: all 3s;	
			}
			#box1_4{
				width:180px;
				height: 200px;
				margin-left: 20px;
				margin-top: 20px;
				float: left;
				box-shadow: 5px 5px 5px gray;
			
			}
			   #box1_4 hr{
         	margin-top: 10px;
             }
			#box1_4_1{
				width: 100px;
				height: 100px;
			  background-image: url(../img/平台/20170605041236603.png);
			  background-size: 100% 100%;
				border-radius: 50px;
				margin: 0 auto;
				transform: rotate(0deg);
				transition: all 3s;	
			}
			#box1_4_2{
				width: 100px;
				height: 50px;
				margin: 0 auto;
				margin-top:20px;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				color: white;
				transform: rotate(0deg);
				transition: all 3s;	
			}
			#box1_5{
				width:180px;
				height: 200px;
				margin-left: 20px;
				margin-top: 20px;
				float: left;
			 box-shadow: 5px 5px 5px gray;
			}
			  #box1_5 hr{
         	margin-top: 10px;
             }
			#box1_5_1{
				width: 100px;
				height: 100px;
			  background-image: url(../img/平台/20170626102250950.png);
			  background-size: 100% 100%;
		    transform: rotate(0deg);
				transition: all 3s;	
				margin: 0 auto;
			}
			#box1_5_2{
				width: 100px;
				height: 50px;
			 transform: rotate(0deg);
				transition: all 3s;	
				margin: 0 auto;
				margin-top:20px;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				color: white;
			}
			#box1_6{
				width:180px;
				height: 200px;
				margin-left: 20px;
				margin-top: 20px;
				float: left;
			box-shadow: 5px 5px 5px gray;
			}
			 #box1_6 hr{
         	margin-top: 10px;
             }
			#box1_6_1{
				width: 100px;
				height: 100px;
			background-image: url(../img/平台/20170626102327645.png);
			background-size: 100% 100%;
			transform: rotate(0deg);
				transition: all 3s;	
				margin: 0 auto;
			}
			#box1_6_2{
				width: 100px;
				height: 50px;
       transform: rotate(0deg);
				transition: all 3s;	
				margin: 0 auto;
				margin-top:20px;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				color: white;
			}
			
			#box1_7{
				width: 1350px;
				height:80px ;
				margin-top: 15px;
				background-color: black;
				float: left;
				color: white;
				
			}
			#box1_7 a{
		margin-left: 700px;
		text-decoration:none ;
				
			}
			#box1_7 p{
				margin-left: 650px;
			}
			
			
			
			